@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --yellow:#f9ca24;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    /*text-transform: capitalize;*/
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
    color: limegreen;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .container img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--yellow);
}

header .container .name{
    font-size: 3.5rem;
    color:#fff;
}

header .container .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
    text-align: center;
    justify-content: center;
    overflow-x: initial;
    float: right;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;

}


header .navbar ul li a{
    display: block;
    padding:10px 50px;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--yellow);
}

#menu{
    position: fixed;
    top:2rem; right:3rem;
    background:#333;
    color:white;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
    
}
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 5rem;
    justify-content: center;

}

.about .row .info h3{
    font-size: 2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--yellow);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}

.tools .box-container .box h3{
    display: flex;
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.tools .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    align-content: center;
    flex-direction: initial;
    
}

.tools .box-container .box{
    display: flex;
    height: 100%;
    width:30%;
    flex-wrap: wrap;
    border-radius: 2rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: .5rem;
    padding-bottom: 3rem;
    border: .4rem solid yellowgreen;
    position: relative;
   
    
}
.tools .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
    flex-wrap: wrap;
}

.projects .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.projects .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}
.projects .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}
.projects .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 5%;
    margin: auto;
    border: 5px solid lightseagreen;
}
.projects .box-container .box h3{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

.projects .box-container .box:hover img{
    transform: scale(2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: lowercase;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}

input{
    border-radius: 5rem;
    border: 2px solid white;
}
textarea{
    border-radius: 2rem;
    border: 2px solid white;
}
iframe{
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 30rem;
    width: 50rem;
    margin:auto;
    overflow: hidden;      
}
footer h6{
    font-size: 1.5rem;
}
footer p{
    font-size: 1rem;
}

/* Popup button */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    width: 530px;
    height: 280px;
    padding: 30px 20px;
    background: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    opacity: 0;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out,
                    transform 1000ms ease-in-out;

}
.popup.active{
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid blue;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;

}

.popup .icon i.fa {
    font-size: 30px;
    color: #34f234;
}

.popup .title {
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;

}

.popup .description{
    color: #222;
    font-size: 15px;
    padding: 5px;

}

.popup .dismiss-btn{
    margin-top: 15px;
}
.popup .dismiss-btn button{
    padding: 10px 20px;
    background: #111;
    color: #f5f5f5;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;

}

.popup .dismiss-btn button:hover {
    color: #111;
    background: #f5f5f5;
}

.popup > div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup.active > div {
    top: 0px;
    opacity: 1;
}
.popup.active .icon {
    transition: all 300ms ease-in-out 250ms; 
}

.popup.active title{
    transition: all 300ms ease-in-out 300ms;
}

.popup.active .description{
    transition: all 300ms ease-in-out 350ms;
}

.popup.active .dismiss-btn{
    transition: all 300ms ease-in-out 400ms;
}











/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }






